extends base.pug

block scripts
  script(src='/static/index.js')

block style
   style
      include ../static/style.css
      include ../static/stylecontact.css
      include ../static/about.css 

block content
  div.container1
    h1 Dance is the hidden language of the soul
    p#p3 The English ballet master John Weaver, writing in 1721, argued on the other hand that “Dancing is an elegant, and regular movement, harmoniously composed of beautiful Attitudes, and contrasted graceful Posture of the Body, and parts thereof.
    hr
    p#p1 Dance, the movement of the body in a rhythmic way, usually to music and within a given space, for the purpose of expressing an idea or emotion, releasing energy, or simply taking delight in the movement itself.
    hr
    p#p2 Dance is a powerful impulse, but the art of dance is that impulse channeled by skillful performers into something that becomes intensely expressive and that may delight spectators who feel no wish to dance themselves. These two concepts of the art of dance—dance as a powerful impulse and dance as a skillfully choreographed art practiced largely by a professional few—are the two most important connecting ideas running through any consideration of the subject. In dance, the connection between the two concepts is stronger than in some other arts, and neither can exist without the other.